#app {
  height: 100%;

  & .app-main {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .app-content-wrapper {
      display: flex;
      height: 100%;

      & .app-content {
        padding: 20px;
        width: 100%;
        overflow-y: auto;
      }
    }
  }
}
