pre {
  margin: 24px 0;
  padding: 12px 18px;
  overflow: auto;
  border-radius: 3px;
  background-color: #fff;
}

p code {
  font-size: 14px;
  line-height: 1.6;
}

code {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  padding: 3px 6px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #fff;
}