@import "../../../../../components/colors";

$square_size: calc(100% / 2);

.app-logo {
  position: relative;
  width: 128px;
  height: 128px;

  &.small {
    width: 48px;
    height: 48px;
  }

  &.big {
    width: 256px;
    height: 256px;
  }

  & .rect-left-up {
    position: absolute;
    top: 0;
    left: 0;
    width: $square_size;
    height: $square_size;
  }

  & .rect-left-down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: $square_size;
    height: $square_size;
  }

  & .rect-right-up {
    position: absolute;
    top: 0;
    right: 0;
    width: $square_size;
    height: $square_size;
  }

  & .rect-right-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: $square_size;
    height: $square_size;
  }

  & .rect-center {
    position: absolute;
    top: calc(100% / 4);
    left: calc(100% / 4);
    width: $square_size;
    height: $square_size;
  }

  @each $color-name in $color-names {
    &.app-logo.#{$color-name} {
      & .rect-left-up {
        background-color: get-color($color-name, '300');
        transition: background-color 1s ease;
      }
      & .rect-left-down {
        background-color: get-color($color-name, '300');
        transition: background-color 1s ease;
      }
      & .rect-right-up {
        background-color: get-color($color-name, '330');
        transition: background-color 1s ease;
      }
      & .rect-right-down {
        background-color: get-color($color-name, '120');
        transition: background-color 1s ease;
      }
      & .rect-center {
        background-color: get-color($color-name, '200');
        transition: background-color 1s ease;
      }
    }
  }
}