.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  z-index: 9999;
  pointer-events: none;

  &.visible {
    pointer-events: all;
    opacity: 1;

    & .modal-dialog {
      opacity: 1;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  & .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: 0;
    padding: 20px;
    display: flex;
    min-width: 350px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0;
    opacity: 0;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transform: translateY(-40%) translateX(-50%);
    transition: all ease-in-out .3s;

    & .modal-header {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 10px;

      & .modal-title {
        font-size: 1.6em;
      }

      & .modal-subtitle {
        font-size: 1.2em;
      }

      & .close {
        position: absolute;
        right: -20px;
        top: -20px;
        padding: 15px;
        line-height: .5em;
        font-size: 1em;
      }
    }

    & .modal-body {
      flex: 3;
      padding: 20px 0;
    }

    & .modal-footer {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      & .btn:last-child {
        margin-left: 5px;
      }
    }
  }
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9;
  pointer-events: none;
  transition: opacity ease-in-out .3s;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}