@import "../../../../../components/colors";

.app-navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 20px 0 10px;
  color: white;

  & .title {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 300;
    color: inherit;
    text-decoration: none;

    & button {
      height: 48px;
      margin-right: 20px;
      cursor: pointer;
      outline: none;

      & div:hover {
        transform: scale(1.08);
      }
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  & nav {
    display: block;
    flex-grow: 1;

    & ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      & li.theme-select {
        width: 120px;
        padding: 0 15px;
        margin-right: 15px;
      }

      & li {
        display: inline-block;

        & a {
          display: inline-block;
          position: relative;
          text-align: center;
          padding: 0 15px;
          text-decoration: none;
          font-weight: 400;
          color: white;

          & span svg {
            height: 2rem;
            fill: currentColor;
          }
        }
      }
    }
  }

  // THEMES
  @each $color-name in $color-names {
    &.#{$color-name} {
      background-color: get-color($color-name, 230);
      transition: background-color 1s ease;

      & nav ul li a:hover {
        color: get-color($color-name, 100, .8);
      }
    }
  }
}