@import '../colors';

.progress {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  height: 20px;

  & .progress-value {
    position: absolute;
    top: 50%;
    left: 10px;
    font-weight: 500;
    font-size: 11px;
    color: white;
    transform: translateY(-50%);
  }

  & .progress-bar {
    width: 100%;
    height: 100%;
  }

  & .progress-bar::-webkit-progress-bar {
    background: -webkit-linear-gradient(
        45deg,
        rgba(0, 0, 0, .15) 10%,
        rgba(100, 100, 100, .15) 10%,
        rgba(100, 100, 100, .15) 20%,
        rgba(0, 0, 0, .15) 20%,
        rgba(0, 0, 0, .15) 30%,
        rgba(100, 100, 100, .15) 30%,
        rgba(100, 100, 100, .15) 40%,
        rgba(0, 0, 0, .15) 40%,
        rgba(0, 0, 0, .15) 50%,
        rgba(100, 100, 100, .15) 50%,
        rgba(100, 100, 100, .15) 60%,
        rgba(0, 0, 0, .15) 60%,
        rgba(0, 0, 0, .15) 70%,
        rgba(100, 100, 100, .15) 70%,
        rgba(100, 100, 100, .15) 80%,
        rgba(0, 0, 0, .15) 80%,
        rgba(0, 0, 0, .15) 90%,
        rgba(100, 100, 100, .15) 90%
    );
  }

  @each $color-name, $color-value in $appColors {
    & .progress-bar.#{$color-name} {
      &::-moz-progress-bar {
        background-color: rgba($color-value, .6);
      }

      &::-webkit-progress-value {
        background-color: rgba($color-value, .6);
      }
    }
  }

  @each $color-name, $color-value in $shades {
    & .progress-value.#{$color-name} {
      color: $color-value;
    }
  }
}