.select-tags {
  display: inline-block;
  position: relative;
  outline: none;
  width: 100%;

  .select-tag-values {
    position: relative;
    width: 100%;
    border-bottom: 2px solid color('grey', 'lighten-2');
    outline: none;
    cursor: text;

    & .select-tag {
      position: relative;
      display: inline-block;
      background-color: $primary-color;
      color: white;
      cursor: default;
      font-size: 11px;
      margin: 1px;

      & .select-tag-clear {
        cursor: pointer;
        padding: 4px 6px 4px 4px;
        font-size: 12px;

        &:hover {
          color: $hover-color;
        }
      }

      & .select-tag-option {
        display: inline-block;
        padding: 4px;
      }
    }

    & .select-input {
      display: inline-block;
      padding: 4px 0;
      vertical-align: middle;

      & input {
        color: $text-color;
        display: inline-block;
        margin: 0;
        padding: 0 15px 0 0;
        border: 0;
        background-color: transparent;
        font-size: 13px;
        outline: none;
      }
    }

    & label {
      position: absolute;
      left: 0;
      top: 50%;
      font-size: 13px;
      transform: translateY(-50%);
      color: rgba($text-color, .7);
      pointer-events: none;
      user-select: none;
      overflow: hidden;
    }

    & .clear {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
      color: #cacaca;

      &:hover {
        color: dimgrey;
      }
    }

    & .select-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      pointer-events: none;
      border-top: 5px solid rgba(0,0,0,.12);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translateY(-50%);
    }
  }

  .select-tags-dropdown.open + .select-tag-values {
    border-bottom: 2px solid $primary-color;
  }

  &.disabled {
    cursor: not-allowed;

    .select-tag-values {
      border-bottom: 2px dashed color('grey', 'lighten-2');
    }
  }

  .select-error {
    position: relative;
    bottom: -2px;
    font-size: 12px;
    line-height: 14px;
    color: #ff2f2f;
  }

  & .select-tags-dropdown {
    position: absolute;
    top: 100%;
    max-height: 120px;
    z-index: 100;
    overflow-y: auto;
    display: none;
    pointer-events: none;
    opacity: 0;
    list-style: none;
    background-color: white;
    border-radius: 0;
    box-shadow: 0 0 5px color('grey', 'lighten-2');
    transition: all ease-in-out .3s;

    &.open {
      display: block;
      pointer-events: all;
      opacity: 1;
      animation: fadeInUp .3s ease-in-out;
    }

    & li {
      position: relative;
      white-space: nowrap;
      padding: 10px;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid color('grey', 'lighten-4');
      transition: all ease-in-out .3s;

      &:last-child {
        border-bottom: 0;
      }

      &:hover,
      &.selected {
        background-color: #eeeeee;
      }
    }
  }
}