@import '~styles/base/colors';

.dropdown-item {
  display: block;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  color: #333;
  cursor: pointer;

  &:hover {
    color: #262626;
    text-decoration: none;
    background-color: #e8e8e8;
  }
}

div.dropdown {
  position: relative;
  display: block;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;

  & .dropdown {
    @extend .dropdown-item;
  }

  &.onhover-open {
    & ul {
      display: none;
    }
    &:hover ul {
      display: block;
    }
  }

  & > ul {
    position: absolute;
    padding: 0;
    background: white;
    min-width: 160px;
    text-align: left;
    border-radius: 0;
    box-shadow: 0px 2px 5px color('grey', 'darken-2');
    z-index: 2000;

    &.bottom {
      top: 100%;
    }
    &.right {
      left: 100%;
      top: 0;
    }
    &.left {
      right: 100%;
      top: 0;
    }

    & li a {
      @extend .dropdown-item;
    }

    & .divider {
      margin: 0;
      padding: 0;
      height: 1px;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  }
}