//-- Flat Degin Colors

// RED
$red100: rgb(255, 204, 188);
$red110: rgb(255, 172, 156);
$red120: rgb(255, 140, 124);
$red130: rgb(255, 124, 108);

$red200: rgb(255, 108, 92);
$red210: rgb(247, 92, 76);
$red220: rgb(231, 76, 60);
$red230: rgb(215, 60, 44);

$red300: rgb(199, 44, 28);
$red310: rgb(183, 28, 12);
$red320: rgb(167, 12, 0);
$red330: rgb(135, 0, 0);

$red: (
  'red100': $red100, 'red110': $red110, 'red120': $red120, 'red130': $red130,
  'red200': $red200, 'red210': $red210, 'red220': $red220, 'red230': $red230,
  'red300': $red300, 'red310': $red310, 'red320': $red320, 'red330': $red330
);

// PINK
$pink100: rgb(255, 188, 216);
$pink110: rgb(255, 140, 200);
$pink120: rgb(255, 124, 184);
$pink130: rgb(255, 108, 168);

$pink200: rgb(255, 108, 168);
$pink210: rgb(234, 76, 136);
$pink220: rgb(218, 60, 120);
$pink230: rgb(202, 44, 104);

$pink300: rgb(186, 28, 88);
$pink310: rgb(170, 12, 72);
$pink320: rgb(154, 0, 56);
$pink330: rgb(138, 0, 40);

$pink: (
  'pink100': $pink100, 'pink110': $pink110, 'pink120': $pink120, 'pink130': $pink130,
  'pink200': $pink200, 'pink210': $pink210, 'pink220': $pink220, 'pink230': $pink230,
  'pink300': $pink300, 'pink310': $pink310, 'pink320': $pink320, 'pink330': $pink330
);

// PURPLE
$purple100: rgb(220, 198, 224);
$purple110: rgb(206, 160, 228);
$purple120: rgb(190, 144, 212);
$purple130: rgb(171, 105, 198);

$purple200: rgb(171, 105, 198);
$purple210: rgb(142, 68, 173);
$purple220: rgb(126, 52, 157);
$purple230: rgb(110, 36, 141);

$purple300: rgb(94,20,125);
$purple310: rgb(78,4,109);
$purple320: rgb(62,0,93);
$purple330: rgb(30,0,61);

$purple: (
  'purple100': $purple100, 'purple110': $purple110, 'purple120': $purple120, 'purple130': $purple130,
  'purple200': $purple200, 'purple210': $purple210, 'purple220': $purple220, 'purple230': $purple230,
  'purple300': $purple300, 'purple310': $purple310, 'purple320': $purple320, 'purple330': $purple330
);

// BLUE
$blue100: rgb(57, 213, 255);
$blue110: rgb(41, 197, 255);
$blue120: rgb(25, 181, 254);
$blue130: rgb(34, 167, 240);

$blue200: rgb(18, 151, 224);
$blue210: rgb(2, 135, 208);
$blue220: rgb(0, 119, 192);
$blue230: rgb(0, 103, 176);

$blue300: rgb(0, 87, 160);
$blue310: rgb(0, 71, 144);
$blue320: rgb(0, 55, 128);
$blue330: rgb(16, 39, 112);

$blue: (
  'blue100': $blue100, 'blue110': $blue110, 'blue120': $blue120, 'blue130': $blue130,
  'blue200': $blue200, 'blue210': $blue210, 'blue220': $blue220, 'blue230': $blue230,
  'blue300': $blue300, 'blue310': $blue310, 'blue320': $blue320, 'blue330': $blue330
);

// AQUA
$aqua100: rgb(94, 250, 247);
$aqua110: rgb(81, 245, 234);
$aqua120: rgb(71, 235, 224);
$aqua130: rgb(55, 219, 208);

$aqua200: rgb(39, 203, 192);
$aqua210: rgb(23, 187, 176);
$aqua220: rgb(7, 171, 160);
$aqua230: rgb(0, 155, 144);

$aqua300: rgb(0, 139, 128);
$aqua310: rgb(0, 123, 112);
$aqua320: rgb(16, 107, 96);
$aqua330: rgb(0, 91, 80);

$aqua: (
  'aqua100': $aqua100, 'aqua110': $aqua110, 'aqua120': $aqua120, 'aqua130': $aqua130,
  'aqua200': $aqua200, 'aqua210': $aqua210, 'aqua220': $aqua220, 'aqua230': $aqua230,
  'aqua300': $aqua300, 'aqua310': $aqua310, 'aqua320': $aqua320, 'aqua330': $aqua330
);

// GREEN
$green100: rgb(142, 255, 193);
$green110: rgb(94, 252, 161);
$green120: rgb(78, 236, 145);
$green130: rgb(62, 220, 129);

$green200: rgb(46, 204, 113);
$green210: rgb(30, 188, 97);
$green220: rgb(14, 172, 81);
$green230: rgb(0, 156, 65);

$green300: rgb(0, 140, 49);
$green310: rgb(0, 124, 33);
$green320: rgb(0, 108, 17);
$green330: rgb(0, 92, 1);

$green: (
  'green100': $green100, 'green110': $green110, 'green120': $green120, 'green130': $green130,
  'green200': $green200, 'green210': $green210, 'green220': $green220, 'green230': $green230,
  'green300': $green300, 'green310': $green310, 'green320': $green320, 'green330': $green330
);

// YELLOW
$yellow100: rgb(253, 227, 167);
$yellow110: rgb(255, 207, 75);
$yellow120: rgb(249, 191, 59);
$yellow130: rgb(249, 179, 47);

$yellow200: rgb(245, 171, 53);
$yellow210: rgb(243, 156, 18);
$yellow220: rgb(241, 137, 45);
$yellow230: rgb(230, 126, 34);

$yellow300: rgb(216, 116, 0);
$yellow310: rgb(200, 100, 0);
$yellow320: rgb(184, 84, 0);
$yellow330: rgb(168, 68, 16);

$yellow: (
  'yellow100': $yellow100, 'yellow110': $yellow110, 'yellow120': $yellow120, 'yellow130': $yellow130,
  'yellow200': $yellow200, 'yellow210': $yellow210, 'yellow220': $yellow220, 'yellow230': $yellow230,
  'yellow300': $yellow300, 'yellow310': $yellow310, 'yellow320': $yellow320, 'yellow330': $yellow330
);

// ORANGE
$orange100: rgb(255, 220, 181);
$orange110: rgb(255, 194, 155);
$orange120: rgb(255, 178, 139);
$orange130: rgb(255, 162, 123);

$orange200: rgb(255, 146, 107);
$orange210: rgb(243, 130, 91);
$orange220: rgb(227, 114, 75);
$orange230: rgb(211, 98, 59);

$orange300: rgb(195, 82, 43);
$orange310: rgb(179, 66, 27);
$orange320: rgb(163, 50, 11);
$orange330: rgb(147, 34, 16);

$orange: (
  'orange100': $orange100, 'orange110': $orange110, 'orange120': $orange120, 'orange130': $orange130,
  'orange200': $orange200, 'orange210': $orange210, 'orange220': $orange220, 'orange230': $orange230,
  'orange300': $orange300, 'orange310': $orange310, 'orange320': $orange320, 'orange330': $orange330
);

// BROWN
$brown100: rgb(246, 196, 163);
$brown110: rgb(234, 184, 151);
$brown120: rgb(223, 173, 140);
$brown130: rgb(212, 162, 129);

$brown200: rgb(206, 156, 123);
$brown210: rgb(190, 140, 107);
$brown220: rgb(174, 124, 91);
$brown230: rgb(158, 108, 75);

$brown300: rgb(142, 92, 59);
$brown310: rgb(126, 76, 43);
$brown320: rgb(110, 60, 27);
$brown330: rgb(94, 44, 11);

$brown: (
  'brown100': $brown100, 'brown110': $brown110, 'brown120': $brown120, 'brown130': $brown130,
  'brown200': $brown200, 'brown210': $brown210, 'brown220': $brown220, 'brown230': $brown230,
  'brown300': $brown300, 'brown310': $brown310, 'brown320': $brown320, 'brown330': $brown330
);

// GREY
$grey100: rgb(224, 224, 224);
$grey110: rgb(208, 208, 208);
$grey120: rgb(192, 192, 192);
$grey130: rgb(160, 160, 160);

$grey200: rgb(144, 144, 144);
$grey210: rgb(128, 128, 128);
$grey220: rgb(112, 112, 112);
$grey230: rgb(96, 96, 96);

$grey300: rgb(80, 80, 80);
$grey310: rgb(64, 64, 64);
$grey320: rgb(48, 48, 48);
$grey330: rgb(32, 32, 32);

$grey: (
  'grey100': $grey100, 'grey110': $grey110, 'grey120': $grey120, 'grey130': $grey130,
  'grey200': $grey200, 'grey210': $grey210, 'grey220': $grey220, 'grey230': $grey230,
  'grey300': $grey300, 'grey310': $grey310, 'grey320': $grey320, 'grey330': $grey330
);

// BASIC
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$color-dark-contrast: $color-white !default;
$color-light-contrast: $color-black !default;

// GLOBALS
$color-names: ('red', 'pink', 'purple', 'blue', 'aqua', 'green', 'yellow', 'orange', 'brown', 'grey');
$color-matrixes: ('grey': $grey, 'red': $red, 'pink': $pink, 'purple': $purple, 'blue': $blue, 'aqua': $aqua, 'green': $green, 'yellow': $yellow, 'orange': $orange, 'brown': $brown);
$color-intensities: ('100', '110', '120', '130', '200', '210', '220', '230', '300', '310', '320', '330');

@function get-color($color: 'grey', $intensity: '100'){
  @return map-get(map-get($color-matrixes, $color), #{$color}#{$intensity});
}