@import '../colors';

.icon {
  display: inline-block;
  color: $color-black;
}

/* THEMES */
@each $color-name in $color-names {
  .icon.#{$color-name} {
    @extend .icon;
    color: get-color($color-name,'300');
  }
}