@import "../../../../../components/colors";

.app-sidebar {
  position: relative;
  width: 200px;
  height: 100%;
  z-index: 100;
  transition: width .3s ease-in-out;

  &.collapsed {
    width: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
  }

  & .app-sidebar-content {
    height: 100%;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;

      & li a {
        display: block;
        position: relative;
        padding: 15px;
        text-decoration: none;
        font-weight: 500;
        color: get-color('grey', 300);
        transition: background-color .3s ease;
      }
    }
  }

  // THEMES
  @each $color-name in $color-names {
    &.#{$color-name} {
      box-shadow: 0 0px 15px 2px get-color($color-name, 230, .1);

      &::after {
        background-color: get-color($color-name, 230, .1);
      }

      & .app-sidebar-content {
        & ul li a {
          border-bottom: 1px solid get-color($color-name, 100, .3);

          &:hover,
          &.active {
            background-color: get-color($color-name, 100, .3);
          }
        }
      }
    }
  }
}