@import '~styles/base/mixins';
@import '~styles/base/variables';
@import '~styles/base/colors';

.select-multiple {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  width: 100%;

  .select-multiple-values {
    position: relative;
    width: 100%;
    outline: none;
    cursor: pointer;
    padding-right: 10px;
    min-height: 23px;
    border-bottom: 2px solid color('grey', 'lighten-2');

    &:focus {
      border-bottom: 2px solid $primary-color;
    }

    &.disabled {
      cursor: not-allowed;
      border-bottom: 2px dashed color('grey', 'lighten-2');
    }

    & .select-value {
      position: relative;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 2px;
      padding: 2px 2px 2px 12px;
      background-color: $primary-color;
      color: white;
      cursor: default;
      font-size: 11px;

      & .select-value-clear {
        position: absolute;
        top: 50%;
        left: 2px;
        margin-right: 4px;
        cursor: pointer;
        font-size: 10px;
        transform: translateY(-60%);

        &:hover {
          color: $hover-color;
        }
      }
    }

    & label {
      display: inline-block;
      padding: 4px 4px 0 4px;
      color: rgba(144, 144, 144, 0.8);
      pointer-events: none;
      user-select: none;
      overflow: hidden;
      font-size: 13px;
    }

    & .clear {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 25px;
      color: #cacaca;

      &:hover {
        color: dimgrey;
      }
    }

    & .select-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      pointer-events: none;
      border-top: 5px solid rgba(0,0,0,.12);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      @include transform(translateY(-50%));
    }
  }

  .select-error {
    position: relative;
    bottom: -2px;
    font-size: 12px;
    line-height: 14px;
    color: #ff2f2f;
  }

  & .select-multiple-dropdown {
    position: absolute;
    top: 0;
    max-height: 200px;
    z-index: 100;
    overflow-y: auto;
    display: none;
    pointer-events: none;
    opacity: 0;
    list-style: none;
    background-color: white;
    border-radius: 0;
    box-shadow: 0 0 5px color('grey', 'lighten-2');
    @include transition(all ease-in-out .3s);

    &.open {
      max-height: 30vh;
      display: block;
      pointer-events: all;
      opacity: 1;
      @include animation(fadeInUp .3s ease-in-out )
    }

    & li {
      position: relative;
      white-space: nowrap;
      padding: 10px;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid color('grey', 'lighten-4');
      @include transition(all ease-in-out .3s);

      &:last-child {
        border-bottom: 0;
      }

      &:hover,
      &.selected {
        background-color: #eeeeee;
      }
    }
  }

  & .select-multiple-dropdown.open + .select-input input {
    border-bottom: 2px solid $primary-color;
  }
}

.table {
  & .select-multiple {
    & .select-multiple-values {
      border-bottom: 0;

      & label {
        padding: 4px 4px 0;
      }
    }

    & .select-multiple-dropdown.open + .select-input input {
      border-bottom: none;
    }
  }
}