$toaster-top-position: 15px;
$toaster-right-position: 15px;
$toaster-bottom-position: 15px;
$toaster-left-position: 15px;

$toast-padding-top: 20px;
$toast-padding-right: 40px;
$toast-padding-bottom: 20px;
$toast-padding-left: 60px;
$toast-padding: $toast-padding-top $toast-padding-right $toast-padding-bottom $toast-padding-left;

$toast-body-width: 300px;
$toast-body-maxwidth: 300px;