@import "../../../../components/colors";

div.color-values {
  display: flex;
  justify-content: center;

  & .color-values-box {
    display: flex;
    flex-direction: column;
    width: 165px;

    & .values-box-name {
      padding: 5px;
      margin-bottom: 15px;
      text-align: center;
      color: $color-white;
      font-weight: 600;
      font-size: 1.6em;
    }

    & > div {
      margin-bottom: 5px;

      & .values-box-type {
        margin-right: 3px;
        font-weight: 600;
      }
    }
  }
}

div.colors-row {
  display: flex;
  justify-content: center;

  div.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 40px;

    & > span {
      font-size: 28px;
      padding: 10px 0;
    }

    div.color-block {
      display: inline-block;
      width: 240px;
      height: 180px;

      div.color-box {
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;

        &:hover {
          transform: scale(1.5);
          z-index: 100;

          span {
            display: table;
            margin: 0 auto;
            font-size: 12px;
          }
        }

        span {
          display: none;
        }
      }
    }
  }
}

@each $color-name in $color-names {
  @each $color-intensity in $color-intensities {
    .#{$color-name}#{$color-intensity}-b {
      background-color: get-color($color-name, $color-intensity);
    }

    .#{$color-name}#{$color-intensity} {
      color: get-color($color-name, $color-intensity);
    }
  }
}