@import '../colors';

.badge {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 8px;
  height: 26px;
  font-size: 20px;
  font-weight: 400;
  background-color: $grey200;
  color: $color-white;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;

  &.inverse {
    background-color: $grey100;
    color: $grey300;
  }

  & .badge-icon {
    color: inherit;
    vertical-align: text-bottom;

    & svg {
      height: 24px;
      fill: currentColor;
    }
  }

  & .badge-text {
    &.has-icon {
      margin-left: 4px;
    }
    &.has-icon.right {
      margin-right: 4px;
    }
  }

  /* SIZES */
  &.badge-small {
    padding: 2px 8px;
    height: 21px;
    font-size: 14px;
    font-weight: 300;
    & .badge-icon {
      font-size: 18px;
      & svg {
        height: 18px;
      }
    }
  }

  /* COLORS */
  &.badge-black {
    background-color: $color-black;
    color: $color-white;

    &.inverse {
      background-color: get-color('grey', '100', 0.3);
      color: $color-black;
    }
  }

  &.badge-white {
    background-color: $color-white;
    color: $grey230;
  }

  @each $color-name in $color-names {
    &.badge-#{$color-name} {
      background-color: get-color($color-name, '230');
      color: $color-white;
    }

    &.badge-#{$color-name}.inverse {
      background-color: get-color($color-name, '100', 0.3);
      color: get-color($color-name, '300');
    }
  }
}
